.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  width: fit-content;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
}

.input-btn {
  display: flex;
  gap: 0.5rem;
}

.input {
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
}

.btn {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(49, 173, 11);
  color: white;
  padding: 0.5rem;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: rgb(33, 122, 6);
  transform: scale(1.05);
}
