.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.788);
  border-radius: 10px;
  padding: 0 10px;
  margin-top: 10px;
}

.items-item {
  display: flex;
  gap: 0.5rem;
}

.trash {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(254, 119, 119);
  border-radius: 50%;
  background-color: rgba(254, 119, 119, 0.493);
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 30px;
  height: 30px;
}

.trash:hover {
  background-color: rgba(176, 40, 40, 0.493);
}

.edit {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(121, 119, 254);
  border-radius: 50%;
  background-color: rgba(121, 119, 254, 0.493);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit:hover {
  background-color: rgba(52, 50, 156, 0.493);
}

.checked{
    text-decoration: line-through;
}
